{% extends 'single_pages/base_about_me.html' %}
{% load static %}
{% block head_title %}
   About Telos
{% endblock %}

{% block main_area %}
    <section>
        <div class="container mt-4">
            <div class="row">
                <div class="col-lg-8">
                    <h1>안녕하세요 이경서입니다.</h1>
                    <hr>
                    <P>어쩌구 저쩌구 이것 저것 디자인이 제일 힘드네요</P>
                </div>
                <div class="col-lg-4">
                    <P>이미지 자리입니다.</P>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col=12">
                    <h1>Portfolio</h1>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card body">
                            <h5 class="card-title">MLB 머신러닝</h5>
                            <P>블라블라블라</P>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card">
                        <div class="card body">
                            <h5 class="card-title">OpenCv 이용한 영상딥러닝</h5>
                            <P>모달로 클릭하면 팝업 추가 합시다.</P>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card">
                        <div class="card body">
                            <h5 class="card-title">Django Web 개발 with Azure</h5>
                            <P>블라블라블라</P>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>

{% endblock %}
