{% extends 'single_pages/base_full_width_single_pages.html' %}

{% block head_title %}
   Landing
{% endblock %}

{% block main_area %}

    <section>
        <div class="container">
            <div class="row justify-content-between">

                <div class="col-lg-6 text-light">
                    <h1 class="mt-5">이경서의 페이지에 오신것을 환영합니다.</h1>
                    <P>오른쪽 카드의 제목을 누르시면
                        현재 서비스중인 앱들을 보실 수 있습니다.
                    </P>
                </div>

                <div class="col-lg-5 mt-5">
                    <h2 class="text-light">In Service App</h2>
                    {% for service in running_services %}
                        <div class="card mt-1">
                            <div class="card body mt-1">
                                <h5><a href="{{ service.url }}" class="text-decoration-none text-dark">&nbsp;&nbsp;{{ service.name }}</a> </h5>
                                <p>&nbsp; {{ service.description }}</p>
                                <div class="float:right">
                                    {% if service.runningYN == 1 %}
                                        <span class="badge rounded-pill badge-success" >&nbsp;&nbsp;Running : {{ service.runningYN }}&nbsp;&nbsp;</span>
                                    {% else %}
                                        <span class="badge rounded-pill badge-danger" >&nbsp;&nbsp;Running : {{ service.runningYN }}&nbsp;&nbsp;</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </section>

{% endblock %}